/* 
Author: Abdul Qadir;
*/

.form-group input[type=file]{
	position: inherit !important;
	opacity: 1 !important;

}
.bg-black{
	background-color: black;
}
.bg-red{
    background-color: red;
}
.bg-black-hover:hover,.bg-black-hover:active,.bg-black-hover:focus{
	background-color: black !important;
}
/* 
Author: Zubair Artani;
*/
.thumb-heading {
	font-size: 14px !important;
    font-weight: 700 !important;
    color: #8e9daa !important;
    margin: 0 0 20px !important;
}
.widget-thumb-wrap i {
	float: left;
    width: 60px;
    height: 60px;
    display: inline-block;
    font-size: 20px;
    line-height: 41px;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-right: 15px;
}
.widget-thumb-body {
	overflow: hidden;

}
.widget-thumb-body .widget-thumb-subtitle {
	padding-top: 2px;
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #8e9daa;
}
.widget-thumb-body .widget-thumb-body-stat {
	display: block;
    font-size: 30px;
    font-weight: 600;
    color: #3e4f5e;
}
.main-sidebar .user-panel .info>p {
    font-size: 20px;
}
.skin-red .user-panel>.info>a {
    font-size: 13px;
}
.user-panel>.image>img {
    max-width: 80px !important;
    height: 80px !important;
}
.table>tbody>tr>td{
    vertical-align: middle;
}

.btn{
  padding: 6px 20px !important;
}