/* 
Author: Abdul Qadir;
*/

.form-group input[type=file]{
	position: inherit !important;
	opacity: 1 !important;

}
.bg-black{
	background-color: black;
}
.bg-black-hover:hover,.bg-black-hover:active,.bg-black-hover:focus{
	background-color: black !important;
}
